table {
    border-collapse: collapse;
    border: 4px solid #769656;
}

#main-view {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}

#board {
    float: left;
}

#info {
    height: 450px;
}

#playerOneWalls {

}

#playerTwoWalls {
    
}

.square {
    width: 40px;
    height: 40px;
    background-color: #eeeed2;
}

.v-groove {
    width: 6px;
    height: 40px;
    background-color: #769656;
}

.v-wall-shadow {
    width: 6px;
    height: 40px;
    background-color: #5a4129;
}

.h-groove {
    width: 40px;
    height: 6px;
    background-color: #769656;
}

.h-wall-shadow {
    width: 40px;
    height: 6px;
    background-color: #5a4129;
}

.cross {
    width: 6px;
    height: 6px;
    background-color: #769656;
}

.cross-shadow {
    width: 6px;
    height: 6px;
    background-color: #5a4129;
}

#player-one {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: auto;
    background: #fd2121

}

#player-one-shadow {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: auto;
    background: #fd212186
}

#player-two {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: auto;
    background: #2471ff
}

#player-two-shadow {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    margin: auto;
    background: #2474ff86
}